<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="/css/app.css" />
<p id="hashData" style="display: none;">{{hashData}}</p>

<div class="container mt-md-5 d-flex justify-content-center">
  <div class="d-flex row overflow-hidden m-2 rounded-5">
    <div
      class="p-5 bg-success col-md d-flex align-items-center justify-content-center"
    >
      <img src="" class="img-fluid" id="qrCodeTicket" alt="QR Code Ticket" />
    </div>
    <div class="p-5 bg-white col-md">
      <div class="fs-2 rounded-2 border border-success p-2 mb-2 d-flex">
        <p class="fw-bold"> Đặt vé thành công</p></div>
      <div
        class="mt-2 rounded-2 border border-success p-2 mb-2 d-flex justify-content-between"
      > <p class="fw-bold"> Họ và tên: </p>{{dataForm.name}}</div>
      <div
        class="mt-2 rounded-2 border border-success p-2 mb-2 d-flex justify-content-between"
      > <p class="fw-bold"> Email: </p>{{dataForm.email}}</div>
      <div
        class="mt-2 rounded-2 border border-success p-2 mb-2 d-flex justify-content-between"
      > <p class="fw-bold"> Số điện thoại:</p>{{dataForm.phone}}</div>
      <button class="btn btn-success mt-2" id="saveButton">Save ticket</button>
    </div>
  </div>
</div>
<script src="/script/ticket_booking_successful.js"></script>

{{!-- <div class="container">
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4 text-center">
          <img
            src=""
            class="img-fluid rounded-start"
            id="qrCodeTicket"
            alt="QR Code Ticket"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <span>
              <h5 class="card-title fs-1">Đặt vé thành công</h5>
              <p class="card-text fs-6">Họ và tên: {{dataForm.name}}</p>
              <p class="card-text fs-6">Email: {{dataForm.email}}</p>
              <p class="card-text fs-6">Số điện thoại: {{dataForm.phone}}</p>
              <button class="btn btn-success" id="saveButton">Save ticket</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div> --}}

{{!-- <div class="container text-center">
  <h1>Đặt vé thành công</h1>
  <div class="m-5">
    <img id="qrCodeTicket" alt="QR Code Ticket" />
    <span>
      <p>Họ và tên: {{dataForm.name}}</p>
      <p>Email: {{dataForm.email}}</p>
      <p>Số điện thoại: {{dataForm.phone}}</p>
      <p>Ghế đã đặt: {{dataForm.seats}}</p>
    </span>
  </div>
  <div class="m-2">
    <button class="btn btn-success" id="saveButton">Save ticket</button>
  </div>
</div> --}}

{{! task today: 
    - add priavte key to ticket -- done
    - design page tiket-success
    - save data when book ticket 
    - design list seats in page ticket  -- process
    - create page admin to show user-ticket-seats
    - api check ticket - app android
 }}